torch
torchaudio
numpy
scipy
librosa
soundfile
pydantic
fastapi
uvicorn
requests
pydub
wavmark
faster-whisper
whisper-timestamped
audioop-lts; python_version >= "3.13"
eng-to-ipa
num2words
jieba
cn2an
pyttsx3
speechrecognition
transformers
unidecode
g2p_en
mecab-python3
inflect
onnxruntime
cached-path
pypinyin
cutlet
pykakasi
anyascii
unidic-lite
ipadic
g2pkk
jamo
langid
loguru
txtsplit
unidic
gruut
tensorboard
gradio
git+https://github.com/myshell-ai/OpenVoice.git
git+https://github.com/myshell-ai/MeloTTS.git
